{% extends "ProfitPilot/base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block content %}
<div id="content">
    <div id="profit">
        <h2 id="profit_month_text">Profit del mes:</h2>
        <span id="profit_month_amount"></span>
    </div>
    <form id="transactions_form">
        <h2>ADD TRANSACTION</h2>
        {% csrf_token %}
        <div id="transactions_input">
            <div class="centered_columns">
                <input class="button" id="transactions_button_negative" type="button" value = "-">
                <input type="number" name="amount", id="amount" placeholder="0.00€">
                <input class="button" id="transactions_button_positive" type="button" value = "+">
            </div>
            <br>
            <div class="centered_rows">
                <h3>Description:</h3>
                <input type="text" name="description" id="description" placeholder="Description">
            </div>
        </div>
    </form>

    <h3 id="feedback"></h3>

    <div id="transactions_list"></div>
</div>
{% endblock %}
